
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div class="container">
   
    <form  class="form-horizontal" [formGroup]="form">


<div>
	<label > &nbsp; Add skill &nbsp;</label><input  type="text" formControlName="addSkillName" placeholder="add new skill"> &nbsp;

<button type="button" class="btn btn-success plus-button value-control colour" (click)="addSkill(form.get('addSkillName').value )" >Add Skill</button>
</div>

<table class="table table-striped">
   
    <tbody>
 

<tr *ngFor="let skill of skills">
<td #ele contenteditable='true'>{{skill.skillName}}</td>
<td><button *ngIf="this.data.addSkill!=='edit'"  type="button" class="btn btn-success plus-button value-control colour"  (click)="editSkill(skill.skillName)" >Edit</button>
	<button *ngIf="this.data.addSkill=='edit'"  type="button" class="btn btn-success plus-button value-control colour"  (click)="saveSkill(skill , ele.innerText)" >Save</button>
</td>
<td><button type="button" class="btn btn-success plus-button value-control colour" (click)="deleteSkill(skill)" >Delete</button>
</td>

      </tr>
</tbody>
</table>

</form>