
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<div class="container">
     

        <div style="display: block">
  <canvas baseChart
              [data]="doughnutChartData"
              [labels]="doughnutChartLabels"
              [chartType]="doughnutChartType"
              (chartHover)="chartHovered($event)"
             ></canvas>
</div>

<div class="row">
  <div class="card col-lg-1 col-sm-1">
    <div class ="cont">
    <h4><b>{{registeredCandidates}}</b></h4> 
    <p>Registered Candidates</p>
  </div>
    </div>
    <div class="card col-lg-1 col-sm-1">
   <div class ="cont">
    <h4><b>{{femaleCandidates}}%</b></h4> 
    <p>Female Candidates</p>
  </div>
    </div>
    <div class="card col-lg-1 col-sm-1">
   <div class ="cont">
    <h4><b>{{maleCandidates}}%</b></h4> 
    <p>Male Candidates</p>
  </div>
    </div>
    <div class="card col-lg-1 col-sm-1">
    <div class ="cont">
    <h4><b>{{freshersCandidates}}%</b></h4> 
    <p>Freshers Candidates</p>
  </div>
    </div>
    <div class="card col-lg-1 col-sm-1">
    <div class ="cont">
    <h4><b>{{ratedbothh}}%</b></h4> 
    <p>rated Candidates</p>
  </div>
    </div>
    <div class="card col-lg-1 col-sm-1">
    <div class ="cont">
    <h4><b>{{femaleRatedCandidates}}%</b></h4> 
    <p>Female ratedCandidates</p>
  </div>
    </div>
    <div class="card col-lg-1 col-sm-1">
    <div class ="cont">
    <h4><b>{{maleRatedCandidates}}%</b></h4> 
    <p>Male ratedCandidates</p>
  </div>
    </div>
    <div class="card col-lg-1 col-sm-1">
    <div class ="cont">
    <h4><b>{{level1Candidates}}%</b></h4> 
    <p>Level1 Candidates</p>
  </div>
    </div>
    <div class="card col-lg-1 col-sm-1">
   <div class ="cont">
    <h4><b>{{level2Candidates}}%</b></h4> 
    <p>Level2 Candidates</p>
  </div>
    </div>
    <div class="card col-lg-1 col-sm-1">
    <div class ="cont">
    <h4><b>{{level3Candidates}}%</b></h4> 
    <p>Level3 Candidates</p>
  </div>
    </div>
  </div>


  <table class="table table-striped">
   
    <tbody>


    <tr >
<td><strong>Pic</strong></td>
<td><strong>Status</strong></td>
<td><input type="text" [(ngModel)]="employeeName" placeholder="Search by associate name"></td>
<td><input type="text" [(ngModel)]="employeeId" placeholder="Search by associate Id"></td>
<td><input type="text" [(ngModel)]="employeeEmail" placeholder="Search by email"></td>
<td><input type="text" [(ngModel)]="employeeMobile" placeholder="Search by mobile number"></td>
<td ><input type="text" [(ngModel)]="employeeSkills" placeholder="Search by strong skills"></td>
<td colspan="3">
	<div class="form-group">
            <div >
                <button  class="btn btn-primary btn-block button-space" (click)="addEmployee()">Add New Associate</button>
                
            </div>
        </div>
  </td>

</tr>


      <tr *ngFor="let associate of employees|filter:employeeName
      |filter:employeeId
      |filter:employeeEmail
      |filter:employeeMobile
      |filter:employeeSkills">
<td>
	 <img src="http://localhost:8090/skilltracker/getimage/{{associate.associate_id}}?{{random}}"
           alt="http://localhost:8090/skilltracker/getimage/{{associate.associate_id}}" 
           style="max-width:50px; max-height:50px" />
</td>
<td >
	<div *ngIf="associate.status=='red'" class="foo red"></div>
	<div *ngIf="associate.status=='green'" class="foo green"></div>
	<div *ngIf="associate.status=='blue'" class="foo blue"></div>
</td>
        <td ><strong>{{associate.name}}</strong></td>
        <td><strong>{{associate.associate_id}}</strong></td>
        <td>{{associate.email}}</td>
        <td><strong>{{associate.mobile}}</strong></td>
        <td>{{associate.allSkillsOfTheEmployee}}</td>
         <td>
         	<button type="button" class="btn btn-success plus-button value-control colour" (click)="editEmployee(associate.associate_id)" >Edit</button>
         </td>
          <td>
          	<button type="button" class="btn btn-success plus-button value-control colour" (click)="deleteEmployee(associate.associate_id)" >Delete</button>
          </td>
           <td>
           	<button type="button" class="btn btn-success plus-button value-control colour" (click)="viewEmployee(associate.associate_id)" >View</button>
           	
           </td>
           
      </tr>
      
    </tbody>
  </table>
</div>


   